body
{
    background-image: url("w.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.a
{
background-color: white;
height: 650px;
}
.b
{
    background-color:black;
    position: fixed;
    width: 1520px;
   
   height: 70px;
}
.c
{
    background-color: red;
    color: white;
    width: 60px;
    padding: 10px;
    position: absolute;
    display: inline;
    margin: 10px ;
    
    
}
.d
{
 background-color: white;
 border: 1px solid red;
 padding: 30px;
 margin: 10px;
 width: 300;
 height: 400;
 float: left;
}
.d h3
{
text-align: center;
}
.l
{
  background-color: red;
  color: white;
  margin: auto;
  margin-top: 100px;
  width: 1200px;
  padding: 10;
}
.x
{
 border:80px solid white;    
 margin-top: 100px;
 padding: 20px;
}
.x1
{
 background-color: blue;
 color: white;
 width: 1200px;
 padding: 10px;
 margin: auto;
 margin-bottom: 5px;
}
.x2
{
 background-color: yellow;
 margin: auto;
 
 padding: 10px;
 width: 1200px;

}
.z
{
float: right;
color: white;
margin: 10px;
padding: 10px;

}
input
{
 border-top-right-radius: 15px;
 border-bottom-right-radius: 15px;

}
.d:hover
{
 content:"amira mohamed";
 transform:translate(0,-20px)
}
.c:hover
{
    background-color: black;
}